body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/hassad.webp);
    background-size: cover;


}
/* navbar */
#navbar{
    background-color: rgb(155, 146, 146);
}
#home{
    box-shadow:2px 2px 7px ;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 5px;
}
#home:hover{
    transition: 0.7s;
    background-color: rgb(86, 86, 86);

}

#logo:hover{
    transform: scale(1.1);

}



.h3 {
    text-align: center;
}

#line {
    border: solid 2px rgb(255, 255, 255);

}
.line2{
    margin-top: 50px;
}

.button {
    background-color: black;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;


}

.button:hover {
    background-color: rgb(235, 159, 159);
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#top {
    color:white;
    text-decoration: underline;
}


.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 30%;
}
#ice {
    height: 270px;
    object-fit: cover;
}

.col1{
    margin-left: 50px;
}
#order{
    margin-top: 10px;
}
#order:hover{
    transition: 0.7s;
    background-color: #002ead;

    
}

#card-title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;

}
.card-img-top:hover{
    transform: translateY(-15px);

    
}
.card-img-top{
    border-radius: 340px;
}
#cards{
    margin-left:140px ;
}
footer {
    color: #fff;
    margin-left: 10px;

}

#copyright {
    text-align: center;
    font-size: larger;
}

#location {
    font-family: "Roboto", sans-serif;
    font-weight: 50;
    font-style: normal;
}

p{
  letter-spacing: 3px;
  font-size: 10px;
  line-height: 2px;
 
}
h4{
    text-decoration: underline;
}

h3{
    text-decoration: underline;
}
/* social-icons */
.social-icons{
    text-align:right;
    padding: 0;
    margin-right: 50px;
  
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color:#f1ecec;
    font-size: 25px;
}
a{
    text-decoration: none;
    margin-left: 50PX;
 }
 a:hover{
    color:rgb(194, 94, 94);
}
.social-icons i:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--background-color);
    background-color: var(--background-color)
}

